.contact-form {
    width: 80%;
    margin-top: 20px;
    
    
    
  
    ul {
      padding: 0;
      margin: 0;
      
  
      li {
        border-radius: 15px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
      li.centeredButton{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: linear-gradient(112.44633185402233deg, rgba(226, 235, 239,1) 4.927083333333334%,rgba(208, 218, 224,1) 97.84374999999999%);
      height: 50px;
      font-size: 16px;
      color: black;
      padding: 0 20px;
      font-family: serif;
      box-sizing: border-box;
      
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: linear-gradient(112.44633185402233deg, rgba(226, 235, 239,1) 4.927083333333334%,rgba(208, 218, 224,1) 97.84374999999999%);
      height: 50px;
      font-size: 16px;
      font-family: serif;
      color: black;
      padding: 20px;
      box-sizing:border-box;
      min-height: 150px;
    }
  
    
  }
  
  .text-zone {
    font-family: serif;
    font-size: 20px;
    left: 10%;
    
   
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    
  }

  
  