.element {
    height: 100vh;
    padding: 20px;
    margin-top: 60px; // Increase top margin to account for thicker navbar
    margin: 50px 50px;
  }

.centeredElement{
  height: 100vh;
  padding: 20px;
  margin-top: 60px; // Increase top margin to account for thicker navbar
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contactElement{
 
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  

.padding{
  padding: 20px 20px;
}

  
.home-color{
    
  background:rgba(236, 246, 237,1) ;
}
    






.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}



.home-page {
  height: 80vh;
    padding: 20px;
    margin-top: 60px; // Increase top margin to account for thicker navbar
    margin: 50px 50px;
  .text-zone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 70%;
    margin: 100px;
  }

  h1 {
    color: rgba(2, 42, 80);
    font-size: 80px;
    line-height: 67px;
    margin: 0;
    font-family: 'Serif';
    font: "Times New Roman";
    font-weight: 400;
    .rotate{animation: rotateIn 1s linear both;
      animation-delay: 1.4s;}

    

    img {
      margin-left: 20px;
      opacity: 0;
      width: 44px;
      height: 60px;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;

      

    
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}



