
body, html {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center; // Vertically center the content
  justify-content: space-between; // Space between social links and nav items
  padding: 20px 10px; // Increase padding for thicker navbar
  background-color: #333;
  
  position: fixed;
  width: 100%;
  top: 0;

  .social-links {
    a {
      margin-right: 15px; // Space between the links
      color: white; // Link color
      text-decoration: none;

      &:hover {
        color: #ccc; // Hover effect
      }
    }
  }

  ul {
    list-style-type: none;
    margin-right: 2%; // Reset margin for the navbar
    
    padding-right: 20px;
    display: flex; // Display links in a row

    li {
      margin: 0 15px; // Space between nav items

      a {
        text-decoration: none;
        color: white;
        font-size: 20px;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

.element {
  height: 100vh;
  padding: 20px;
  margin-top: 60px; // Increase top margin to account for thicker navbar
}
