.home-page {
  .text-zone {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    margin: 100px;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    .rotate{animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      

    }
    
    
    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: 100px;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      
      
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}



.img-container{
  margin-left: 20px;
      opacity: 0;
      width: 44px;
      height: 60px;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
