.nav-bar {
  background: rgb(150, 188, 211);
  height: 60px; // Adjusted for a horizontal bar
  width: 100%; // Span across the top
  position: fixed; // Fixed at the top
  top: 0;
  left: 0; // Added to align left
  z-index: 3;
  display: flex; // Use flexbox for horizontal alignment
  
  align-items: center; // Center items vertically

  

  
  nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto; // Adjust for horizontal layout
    height: 100%; // Full height of the nav bar
    padding-left: 10%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      padding: 25px 50px;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: linear-gradient(112.44633185402233deg, rgba(236, 246, 237,1) 4.927083333333334%,rgba(0, 0, 0,1) 97.84374999999999%);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 15px;
        letter-spacing: 2px;
        
        bottom: 0;
        
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }

    a.active {
      svg {
        color: rgba(236, 246, 237,1);
      }
    }
  }

  ul {
    position:absolute;
    right: 8%;
    display: flex;
    
    
    justify-content: right;
    list-style: none;
    padding: 5px;
    margin: 0;
    
    

    li {
      a {
        padding: 0 10px; // Adjust padding for items
        color: #4d4d4e;
        font-size: 22px;
      }

      &:hover {
        .anchor-icon {
          color: rgba(236, 246, 237,1);
        }
      }
    }
  }
}


