.MainContainer {
    
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
    
}
.projectDisplay{
    display: flex;


}
.box{
    width: 500px;
    height: 300px;
    background-color: #555; 
    margin: 100px auto; 
    border-radius: 3px;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
    animation: colorCycle 15s infinite; /* Add this line */
}

.box1{
    width: 500px;
    height: 300px;
    background-color: #555; 
    margin: 100px auto; 
    border-radius: 3px;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
    background: url("./../../assets/images/regexDfa.png") ;
    background-size: 100% 100%;
}

.box2{
    width: 500px;
    height: 300px;
    background-color: #555; 
    margin: 100px auto; 
    border-radius: 3px;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
    animation: colorCycle1 36s infinite; /* Add this line */
    
    
}

/* Define the keyframes for the colorCycle animation */
@keyframes colorCycle1 {
    
    
    0%  { background-image: url("./../../assets/images/kiwirous6.PNG"); background-size: 100% 100% }
    50% { background-image: url("./../../assets/images/kiwirous7.PNG"); background-size: 100% 100% }
    100% { background-image: url("./../../assets/images/kiwirious8.PNG");
        background-size: 100% 100%; }
    
    
}

.textboxRight{
    width: 50%;
    
    margin: 50px 50px;
}

.box:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
    

}
.textboxLeft{
    width: 50%;
    
    margin: 50px 50px;
}







/* Apply right margin to odd boxes, effectively pushing them to the left */
.box:nth-child(odd) {
    margin-left: 0;
    margin-right: auto;
}


.textContainer {
    
    top: 50%; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically */
    /* Example: position text container to the right of the box */
    right: -150px; /* Adjust distance from the box */
    /* Additional styles as needed */
}

.header{

    text-align: center;
    justify-content: center;
}