
.header{

    text-align: center;
    justify-content: center;
}
p{
    text-decoration: dotted;
    font-size: 15px;
    font: "Times New Roman";
    margin: 20px;
}
.layout{
    display:block;
}
.text-container{
    display: flex;
    width: 50%;
    height: 500px;
    margin: 40px;
    
}
.book-container{
    justify-content: center;
display: flex;

  
  
  
}
.AboutMeClass{
    display: flex;
    justify-content: center;

}
.profilePhoto{
    border-radius: 50px;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    margin: 50px;

}

.AboutMeText{
    border-radius: 50px;
    margin: 50px;
    width: 900px;
    height: 450px;
    border: 1px solid black;

}