body {
  background-color: #f8f8f8; /* Background color of the page */
  z-index: 1;
}

.lined-paper {
  background-color: #fff; /* Background color of the paper */
  background-image: repeating-linear-gradient(180deg, transparent, transparent 14px, #ddd 14px, #ddd 16px);
 
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the paper */
  
  font-family: Arial, sans-serif; /* Font for the paper content */
  
  
  color: #333; /* Text color */
  
}





.cover{
  border-radius: 25px;
  
  background: linear-gradient(
    to right,
    rgba(255, 147, 67, 0.02) 0%, /* Lighter orange */
    rgba(255, 147, 67, 0.05) 0.75%, /* Lighter orange */
    rgba(255, 209, 145, 0.5) 1.0%, /* Medium orange */
    rgba(236, 246, 237,1) 1.3%, /* Medium orange */
    rgba(255, 209, 145, 0.5) 1.4%, /* Medium orange */
    rgba(255, 181, 101, 0.3) 1.5%, /* Darker orange */
    rgba(255, 181, 101, 0.3) 2.4%, /* Darker orange */
    rgba(255, 147, 67, 0.05) 2.7%, /* Lighter orange */
    rgba(255, 147, 67, 0.05) 3.5%, /* Lighter orange */
    rgba(255, 181, 101, 0.3) 4%, /* Darker orange */
    rgba(255, 181, 101, 0.3) 4.5%, /* Darker orange */
    rgba(249, 209, 179, 0.1) 5.4%, /* Light beige */
    white 100%, /* Light beige */
    
    
);

background-color: rgb(230, 81, 0); /* Darker orange */
border: none;


  
  
}

img{
  width: 500px;
  height: 700px;
}


.back{
  border-radius: 25px;
  background: linear-gradient(to left,
  rgba(255, 147, 67, 0.02) 0%, /* Lighter orange */
    rgba(255, 147, 67, 0.05) 0.75%, /* Lighter orange */
    rgba(255, 209, 145, 0.5) 1.0%, /* Medium orange */
    rgba(255, 209, 145, 0.6) 1.3%, /* Medium orange */
    rgba(255, 209, 145, 0.5) 1.4%, /* Medium orange */
    rgba(255, 181, 101, 0.3) 1.5%, /* Darker orange */
    rgba(255, 181, 101, 0.3) 2.4%, /* Darker orange */
    rgba(255, 147, 67, 0.05) 2.7%, /* Lighter orange */
    rgba(255, 147, 67, 0.05) 3.5%, /* Lighter orange */
    rgba(255, 181, 101, 0.3) 4%, /* Darker orange */
    rgba(255, 181, 101, 0.3) 4.5%, /* Darker orange */
    rgba(249, 209, 179, 0.1) 5.4%, /* Light beige */
    rgba(255, 147, 67, 0.05) 99.25%, /* Lighter orange */
    rgba(255, 209, 145, 0.5) 100%, /* Medium orange */
   
    
);

background-color: rgb(230, 81, 0); /* Darker orange */

}

.Title{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 45%;
  font-family: sans-serif;
  color: aliceblue;
}

.demoPage{
  
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(73, 72, 71) 5.234741784037558%,rgb(177, 164, 154) 97.25352112676055%);
 
  border:1px solid black;
  
}
.demoPage1{
  
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(73, 72, 71) 5.234741784037558%,rgb(177, 164, 154) 97.25352112676055%);
  
  
}

.ImgPageContainer{
  background-color: #fff; /* Background color of the paper */
  background-image: repeating-linear-gradient(180deg, transparent, transparent 14px, #ddd 14px, #ddd 16px);
 
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the paper */
  
  font-family: Arial, sans-serif; /* Font for the paper content */
  font-size: 16px; /* Font size for the paper content */
  line-height: 1.5; /* Line height for the paper content */
  

  
  border-radius: 25px;
  
  display: flex;
  
  
  
}

h1{
  text-align: center;
  justify-content: center;
  
}

.jsImg{
  padding: 11px;
  width:20%;
  height: 20%;
}

.pythonImg{
  width: 33%;
  height: 25%;
  
}


.pbook{
 
  line-height: 2;
  font-size: 16px;
  
}

.programing-languages-container{
  display: flex;
  justify-content: center;
}